In [53]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [54]:
!which chromedriver

/usr/local/bin/chromedriver

In [55]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [56]:
### NASA Mars News
url = 'https://redplanetscience.com/'
browser.visit(url)

In [57]:
html = browser.html
news_soup = BeautifulSoup(html,'html.parser')
quotes = news_soup.select_one('div.list_text')
quotes

<div class="list_text">
<div class="list_date">June 14, 2021</div>
<div class="content_title">Mars InSight Lander to Push on Top of the 'Mole'</div>
<div class="article_teaser_body">Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.</div>
</div>

In [58]:
New_title =quotes.find('div',class_='content_title')
New_title

In [59]:
New_title.get_text()

"Mars InSight Lander to Push on Top of the 'Mole'"

In [60]:
News_p = quotes.find('div', class_= 'article_teaser_body')
News_p.get_text()

'Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.'

In [61]:
### JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [62]:
full_img_button = browser.find_by_tag('button')[1]
full_img_button.click()

In [63]:
html = browser.html
img_soup = BeautifulSoup(html,'html.parser')

In [64]:
images= img_soup.find('img', class_='fancybox-image').get('src')
images

'image/featured/mars2.jpg'

In [65]:
img_url = f'https://spaceimages-mars.com/{images}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [66]:
#Mars Facts
url =('https://galaxyfacts-mars.com')

In [67]:
#The usage of Pandas to convert the data to a HTML table 
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [68]:
df = tables[0]
df.columns = ['Mars - Earth Comparison ', 'Mars ', 'Earth']
df.head()

  Mars - Earth Comparison             Mars             Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [69]:
df.columns=['Description','Mars','Earth']
df.set_index('Description', inplace=True)

df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [70]:
##Mars Hemispheres

In [71]:
url =('https://marshemispheres.com/')
browser.visit(url)

In [72]:
# Create a list to hold the images and titles.
hemi_img_url = []

links = browser.find_by_css('a.product-item img')
# Iterate through all links
for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css('a.product-item img')[1].click()
    
    link_elem = browser.links.find_by_text('Sample').first
    
    hemisphere['img_url']= link_elem['href']
    
 #Hemisphere title   
    hemisphere['title']= browser.find_by_css('h2.title').text
 
 #Append hemisphers list
    hemi_img_url.append(hemisphere)
  
 #Navigating
    browser.back()

hemi_img_url

[{'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'}]

In [73]:
browser.quit()